kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
# uncomment below content to enable nodes to pull images from our exclusive docker registry
#containerdConfigPatches:
#  - |
#    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
#      endpoint = ["http://128.105.144.30:5000"]
nodes:
  - role: control-plane
    image: jacksonarthurclark/aiopslab-kind-x86:latest
    extraMounts:
      - hostPath: /run/udev
        containerPath: /run/udev
      # ADDED: Mount docker config to Control Plane
      - hostPath: /local/jotham/.docker/config.json
        containerPath: /var/lib/kubelet/config.json
        readOnly: true

  - role: worker
    image: jacksonarthurclark/aiopslab-kind-x86:latest
    extraMounts:
      - hostPath: /run/udev
        containerPath: /run/udev
      # ADDED: Mount docker config to Worker 1
      - hostPath: /local/jotham/.docker/config.json
        containerPath: /var/lib/kubelet/config.json
        readOnly: true

  - role: worker
    image: jacksonarthurclark/aiopslab-kind-x86:latest
    extraMounts:
      - hostPath: /run/udev
        containerPath: /run/udev
      # ADDED: Mount docker config to Worker 2
      - hostPath: /local/jotham/.docker/config.json
        containerPath: /var/lib/kubelet/config.json
        readOnly: true

  - role: worker
    image: jacksonarthurclark/aiopslab-kind-x86:latest
    extraMounts:
      - hostPath: /run/udev
        containerPath: /run/udev
      # ADDED: Mount docker config to Worker 3
      - hostPath: /local/jotham/.docker/config.json
        containerPath: /var/lib/kubelet/config.json
        readOnly: true