[Unit]
Description=Cloudlab Provisioner Daemon
After=network.target

[Service]
User=pial
Group=pial
WorkingDirectory=/home/pial/Academics/UIUC/Projects/SREAreana/provisioner
ExecStart=/usr/bin/python3 /home/pial/Academics/UIUC/Projects/SREAreana/provisioner/provisioner/daemon.py
Restart=on-failure
StandardOutput=var/log/provisioner.log
StandardError=var/log/provisioner.error.log

[Install]
WantedBy=multi-user.target